body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 75%;
    height: 100%;
    display: inline-block;
}

#form {
    width: 24%;
    display: inline-block;
}


#image-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    cursor: pointer;
    flex-wrap: wrap;
    overflow: auto;
}

#current-location-text {
    color: white;
    background-color: black;
    padding: 1rem;
}

#location-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 10rem;
}

#location-button:hover {
    color: black;
    background: white;
}



@media screen and (max-width: 800px) {

    #map {
        width: 100%;
        height: 85%;
    }

    #form {
        width: 100%;
    }


    #image-gallery img {
        width: 100%;
    }
}